{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/cart/css/cart.css">
{% endblock %}

{% block content %}
    <div id="cart_list">
        <h3 class="text-center">我的购物车</h3>
        <table class="table table-hover">
            <tr>
                <th>
                    <input type="checkbox" id="c_all">
                </th>
                <th>商品名</th>
                <th>单价(元)</th>
                <th>数量</th>
                <th style="width:200px;">操作</th>
            </tr>
            {% if goods_list %}

                <tbody>
                {% for goods, cnt in goods_list %}
                    <tr>
                        <td>
                            <input type="checkbox"
                                   id="c_{{ goods.id }}"
                                   value="{{ goods.id }}">
                        </td>
                        <td>{{ goods.title }}</td>
                        <td>￥ <span id="price_{{ goods.id }}">{{ goods.price }}</span></td>
                        <td><a class="btn btn-info btn-sm">-</a><span id="cnt_{{ goods.id }}">{{ cnt }}</span><a
                                class="btn btn-info btn-sm">+</a></td>
                        <td>
                            <a class="btn btn-danger" onclick="del_cart({{ goods.id }})">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tr>
                    <td colspan="5" align="right" style="padding-right: 100px">
                        <span style="padding-right: 10px;"><b>总金额:</b> ￥</span> <span id="total_price">0</span>
                        <a class="btn btn-primary" style="margin-left:300px;" onclick="go_pay()">结算</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5" align="center">
                        <h4>暂无数据</h4>
                    </td>
                </tr>
            {% endif %}

        </table>
    </div>
{% endblock %}

{% block js %}
    <script>
        function go_pay() {
            //获取所有已勾选商品的id
            let cks =$('tbody>tr>td>input[type="checkbox"]')
            let ids = ''
            for(let i=0;i< cks.length; i++){
                if(cks[i].checked){
                    ids = ids+cks[i].value+','
                }
            }
            alert('所有勾选的商品id:' + ids);
            // 后端接口
            window.open('/cart/go_pay/?ids='+ids, target='_self');

        }

        // checkbox_node是DOM对象(Checkbox对象)
        function count_price(checkbox_node) {
            let price_id = '#price_' + checkbox_node.value;
            let cnt_id = '#cnt_' + checkbox_node.value;

            let price = parseFloat($(price_id).text())  // NaN
            let cnt = parseInt($(cnt_id).text());

            return price * cnt;
        }

        function count_total_price(checkbox_node, cprice) {
            let total_price = parseFloat($('#total_price').text());
            if (checkbox_node.checked) {
                $('#total_price').text(total_price + cprice);
            } else {
                $('#total_price').text(total_price - cprice);
            }
        }

        $(function () {
            // 获取当前文档下的所有checkbox，并设置选择事件
            $('input[type="checkbox"]').on('change', function (ev) {
                let node = $(this);
                if (node[0].id == 'c_all') {
                    // 选择tbody下的所有checkbox
                    checkboxes = $('tbody>tr>td>input[type="checkbox"]');
                    for (let i = 0; i < checkboxes.length; i++) {
                        if (checkboxes[i].checked != node[0].checked) {

                            //改变全选或取消全选的状态
                            checkboxes[i].checked = node[0].checked;

                            //统计小计和总金额
                            count_total_price(checkboxes[i],
                                count_price(checkboxes[i]))
                        }
                    }
                    return;
                }

                //DOM对象转成jQuery对象:  $(dom) 或jQuery(dom)
                //jQuery对象转成DOM 对象： node[0] -> Document对象
                count_total_price(node[0], count_price(node[0]));

                //判断当前的状态如果是取消勾选，则取消全选
                if(! node[0].checked){
                    $('#c_all')[0].checked=false;
                }
            })
        });

        function del_cart(goods_id) {
            let node = $('#c_'+goods_id); // checkbox控件
            // 提示 是否移除 xxxx 商品?
            let td = node[0].parentElement;
            if(! confirm("是否确认移除 "+td.nextElementSibling.textContent+" ?")){
                return;
            }


            let cprice = count_price(node[0]);

            if(node[0].checked) {
                node[0].checked = false;
                count_total_price(node[0], cprice);
            }

            // 删除此行
            let tr_element = node[0].parentElement.parentElement;
            tr_element.parentElement.removeChild(tr_element);

            //请求后台接口(url), 从购物车中删除商品
            url = '/cart/del/'+goods_id+"/"
            $.getJSON(url ,function (data) {
                if(data.code == 200){
                    alert(data.msg);
                }
            })
        }

    </script>
{% endblock %}