{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="/static/book/css/book.css">
{% endblock %}
{% block content %}
    <div id="bookinfo" class="row">
        <!--分两栏(左：详情， 右：周排行)-->
        <div class="col-xs-7">
            <div class="info">
                <div class="row">
                    <div class="col-xs-4">
                        <img src="/static/images/{{ book.cover }}"
                             width="120" height="145"
                             style="margin: 10px auto;">

                    </div>
                    <div class="col-xs-8">
                        <div>
                            <h3 class="text-left" style="display: inline-block">{{ book.title }}</h3>
                            <span class="text-right" style="margin-left: 10px;">{{ book.author }} 著</span>
                        </div>
                        <ul class="tag_cates">
                            {% for tag in book.tags.all %}
                                <li class="tag">
                                    <span>{{ tag.title }}</span>
                                </li>
                            {% endfor %}
                            <li class="cate">
                                <span>{{ book.category.parent.title }}</span>
                            </li>

                            <li class="cate">
                                <span>{{ book.category.title }}</span>
                            </li>

                        </ul>
                        <div style="padding: 2px">
                            <span>{{ book.summary }}</span>
                        </div>
                        <div>
                            <a class="btn btn-danger">免费阅读</a>
                            <a class="btn btn-info">加入书架</a>
                            <a class="btn btn-info">投票互动</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-xs-5">
            <div class="rank">
                <h3>周排行</h3>
                <ul>
                    {% for rank_book in rank_books %}
                        <li>
                            <span class="no {% if forloop.counter <= 3 %}no{{ forloop.counter }}{% endif %}">{{ forloop.counter }}</span>
                            <span><a href="/book/show/{{ rank_book.0.id }}/">{{ rank_book.0.title }}</a></span>
                            <span>{{ rank_book.1 }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>

        </div>

    </div>
{% endblock %}