#bookinfo ul, li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
#bookinfo ul:after{
    content: '';
    display: block;
    height: 0px;
    overflow: hidden;
    clear: both;
}

#bookinfo .tag_cates li {
    float: left;
    padding: 2px;
}

#bookinfo  .tag  span{
    color: blue;
    border: 1px solid blue;
    border-radius: 50px;
    padding: 2px 5px;
}

#bookinfo .cate  span{
    color: red;
    border: 1px solid red;
    border-radius: 50px;
    padding: 2px 5px;
}

.rank {
    border: 1px dotted lightgray;
    font-size: 1.5rem;
}

.rank h3{
    margin: 0px;
    padding: 5px;
    background-color: powderblue;
    text-align: center;
}
.rank li{
    padding: 5px;
    border-bottom: 1px solid #f4f4f4;
}

.rank .no{
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    margin: 2px;
    background-color: dimgray;
    color: white;
}

.rank .no1 {
    background-color: indianred;
}

.rank .no2 {
    background-color: orangered;
}

.rank .no3 {
    background-color: orange;
}

.rank li span:last-child{
    margin-left: 100px;
    color: darkgray;
}