<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <title>{% block title %}趣文小说网{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'base/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/bootstrap.min.css' %}">
    {% block css %} {% endblock %}
</head>
<body>
<!--导航条-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a>主页 <span class="sr-only">(current)</span></a></li>
            </ul>
            <form class="navbar-form navbar-left" style="margin-left: 150px;">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="书名或作者">
                </div>
                <button type="submit" class="btn btn-warning">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                {% if request.session.login_user %}
                    <li>
                        <img width="40" height="40" class="img-circle" style="margin-top: 2px;"
                             src="/static/{{ request.session.login_user.photo }}">
                    </li>
                    <li class="dropdown">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">{{ request.session.login_user.nickname }} <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">我的收藏</a></li>
                            <li><a href="#">我的订单</a></li>
                            <li><a href="#">通知信息</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/user/logout/">退出登录</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="/user/login/">登录</a></li>
                    <li><a href="/user/regist/">注册</a></li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<!--内容-->
<div class="container">
    <div style="height: 600px">
        {% block content %}

        {% endblock %}
    </div>
</div>
<!--底部-->
<footer>
    <div style="font-size: 1.2em; padding: 10px;background-color:#101010;color: white">
        <div class="text-center">
            版本所有@ 趣文科技有限公司
        </div>
        <div class="text-center">
            联系电话： 029－88776655
        </div>
    </div>
</footer>
<script type="text/javascript" src="{% static 'base/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'base/js/bootstrap.min.js' %}"></script>
{% block js %} {% endblock %}
</body>
</html>