{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/user/css/user.css">
{% endblock %}
{% block content %}
    <div id="regist">
        <h3>用户注册</h3>
        <hr>
        <form class="form form-horizontal"
              action="/user/regist/"
              method="post">

            <div class="form-group">
                <label class="col-xs-2 text-right">账号：</label>
                <div class="col-xs-6">
                    <input class="form-control" name="username" value="{{ form.username.value }}" placeholder="登录用户名">
                </div>
                <div class="col-xs-4">
                    {% if errors.username %}
                        <span class="text-danger">* {{ errors.username.0.message }}</span>
                    {% else %}
                        <span>* 至少6位字符</span>
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 text-right">口令：</label>
                <div class="col-xs-6">
                    <input class="form-control" type="password" name="password" placeholder="登录口令">
                </div>
                <div class="col-xs-4">
                    {% if errors.password %}
                        <span class="text-danger">* {{ errors.password.0.message }}</span>
                    {% else %}
                        <span>* 至少8位字符</span>
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 text-right">重复口令：</label>
                <div class="col-xs-6">
                    <input class="form-control" type="password" name="password2" placeholder="重复口令">
                </div>
                <div class="col-xs-4">
                    {% if errors.password2 %}
                        <span class="text-danger">* {{ errors.password2.0.message }}</span>
                    {% else %}
                        <span></span>
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 text-right">别名：</label>
                <div class="col-xs-6">
                    <input class="form-control" name="nickname" value="{{ form.nickname.value }}" placeholder="输入您的昵称">
                </div>
                <div class="col-xs-4">
                    {% if errors.nickname %}
                        <span class="text-danger">* {{ errors.nickname.0.message }}</span>
                    {% else %}
                        <span> </span>
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 text-right">手机号：</label>
                <div class="col-xs-6">
                    <input class="form-control" name="phone" value="{{ form.phone.value }}" placeholder="手机号码">
                </div>
                <div class="col-xs-4">
                    {% if errors.phone %}
                        <span class="text-danger">* {{ errors.phone.0.message }}</span>
                    {% else %}
                        <span> </span>
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-2 text-right">头像：</label>
                <div class="col-xs-6">
                   <input type="hidden" name="photo" value="{{ form.photo.value }}">
                    <img id="preImg" src="/static/user/imgs/default.png"
                         width="100" height="145"
                         onclick="ImgSelector.click()">
                </div>

            </div>
            <div class="form-group">
                <div class="col-xs-offset-2"
                     style="padding-left: 20px">
                    <button class="btn btn-primary">注册</button>
                    <a href="#" class="btn btn-link">已注册用户, 直接登录</a>
                </div>
            </div>

        </form>
        <input type="file" id="ImgSelector"
               onchange="uploadImg(this.files[0])"
               style="display: none">

    </div>
{% endblock %}

{% block js %}
    <script>
        function uploadImg(imgFile) {
            // 要求只能上传 图片，大小限制在2M以内
            if(! imgFile.type.startsWith('image/')){
                alert('只限制为图片文件！');
                return
            }

            if( imgFile.size > 2*1024*1024){
                alert('图片大小已超出2M');
                return
            }

            if(confirm('是否要上传头像?')){
                 alert(imgFile.name);
                 console.log(imgFile);

                 let url = '/user/upload_img/';
                 let formData = new FormData();

                 //向表单数据中添加 img 文件字段及文件对象
                 formData.append('img', imgFile);

                 // AJAX 异步请求对象
                 let request = new XMLHttpRequest();
                 request.open('post', url, true);

                 // 设置请求完成后的事件处理函数
                 request.onload = function () {
                     if(request.status == 200 && request.readyState == 4){
                         resp_data = JSON.parse(request.responseText);
                         if (resp_data.code == 20){
                             alert('--上传成功-');
                             alert(resp_data.path);

                             //显示图片
                             $('#preImg').attr('src', '/static/'+resp_data.path);

                             // 将上传图片的路径加入到 hiddern的photo字段中
                             $('input[name="photo"]').val(resp_data.path);
                         }else{
                             // 上传发生错误
                             alert(resp.msg);
                         }
                     }
                 }

                 // 发送数据
                 request.send(formData);
            }
        }
    </script>
{% endblock %}