.cart {
    display: inline-block;
    height: 20px;
    width: auto;
    margin: 12px 20px;
    padding-right: 10px;
}

.cart span:first-child{
    color: red;
    margin-right: 5px;
}

.cart span:last-child{
    display: inline-block;
    font-size: 10px;
    width: 12px;
    height: 12px;
    position: absolute;
    right: 0px;
    color: white;
    background-color: red;
    border-radius: 50%;
    text-align: center;
}

.cart span:last-child:after{
    display: block;
    content: '';
    height: 0px;
}